@import url(reset.css);
@import url(fonts.css);

body {
    font:14px 'Raleway', sans-serif;
    color:#6c7279;
}

.wrapper {
    width: 100%;
}

.wrapHeader {
    min-height: 748px;
    background-color: #30324c;
    background-image: url(../images/main_bg.jpg);
    background-repeat: repeat-x;
}

.wrapContent {
    min-height: 691px;
    background-color: #ffffff;
}

.wrapPhoto {
    margin:0 auto;
    min-height: 702px;
    background-color: #2b2e4a;
}

.wrapFooter {
    min-height: 343px;
    background-color: #3a3e64;
    background-image: url(../images/footer_bg.png);
    background-repeat: repeat-x;
}

footer, header, .content {
    margin:0 auto;
    width: 1171px;
}

header {
    min-height: 748px;
}

.content {
   min-height: 589px;
   padding-top: 102px;
   width: 1181px;
}

/* start nav + logo */

.headerLogoNav {
    min-height: 64px;
    padding-top: 36px;
    border-bottom: 1px solid #505369;
}

.logo {
    width: 189px;
    height: 24px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 0 -25px;
    float: left;
}


nav {
    float: right;
}

nav ul {
    height: 28px;
}

nav ul li {
    float: right;
    height: 24px;
    padding-top: 4px;
}

.navA {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 13px 'Raleway', sans-serif;
    color:#d8d8dc;
    margin-left:60px;
}

.lastA {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 13px 'Raleway', sans-serif;
    color:#d8d8dc;
}

nav ul li a:hover {
    color:#ffffff;
}

/* end nav + logo */

/*start main h1 + p + a*/
.main_h1 {
    min-height: 495px;
    padding:152px 128px 0 156px;
}

.main_h1 h1 {
    font:bold 65px 'Open Sans',sans-serif;
    text-align: center;
    color:#ffffff;
    text-transform: uppercase;
}

.main_h1 p {
    font:22px 'Raleway', sans-serif;
    color:#ffffff;
    text-align: center;
    margin-top: 39px;
    margin-left: 50px;
    width: 783px;
}

.main_h1 a {
    margin: 0 auto;
    padding: 14px 0 0 0;
    width: 196px;
    height: 31px;
    display: block;
    cursor: pointer;
    background-color: #e84545;
    text-decoration: none;
    text-transform: uppercase;
    font:600 13px 'Raleway', sans-serif;
    color:#fff;
    border-radius: 2px;
}

.main_h1 a:hover {
    background-color: #ea4c4c;
}
/*end main h1 + p + a*/

/*Start content(features)*/

.content_div {
    width: 322px;
    height: 115px;
    float: left;
    padding-top: 91px;
    margin-left: 55px;
    margin-bottom: 54px;
}

.h3_content {
    font:bold 14px 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 17px;
    color:#2d3033;
}

.p_content {
    font:14px 'Raleway', sans-serif;
    color:#6c7279;
    width: 300px;
    text-align: center;
    line-height: 22px;
}

#feature1 {
    background-image: url(../images/f1.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

#feature2 {
    background-image: url(../images/f2.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

#feature3 {
    background-image: url(../images/f3.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

#feature4 {
    background-image: url(../images/f4.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

#feature5 {
    background-image: url(../images/f5.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

#feature6 {
    background-image: url(../images/f6.png);
    background-repeat: no-repeat;
    background-position: center 0;
}
/*End content(features)*/

.clear {
    clear:both;
}

/*start works*/

.works {
    min-height: 351px;
    outline: 1px solid #ffffff;
    width: 25%;
    float: left;
    position: relative;
}

.a_hover_works {
    z-index: 6;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    font:bold 14px 'Raleway', sans-serif;
    text-align: center;
    color:rgba(255, 255, 255, 0);
    line-height: 200%;
}

.a_hover_works:hover {
    background-color: rgba(210, 63, 63, 0.7);
    color:rgba(255, 255, 255, 1);
}

.a_hover_works div {
    height: 70%;
    width: 100%;
    padding-top: 30%;
}

.interface {
    font:14px 'Raleway', sans-serif;
}

.photo1-8 {
    outline: 1px solid #fff;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*end works*/

/* start download block
changes from 05.09.2016*(начало)*/


section {
    display: block;
}

a{
    text-decoration: none;
}

.section {
    padding: 100px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container:before{
    display: table;
    content: " ";
}

.container:after{
    display: table;
    content: " ";
    clear:both;
}

.text-center{
    text-align: center;
}

.col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
}

.download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
}

.download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
}

#btn:hover {
    background-color: #ea4c4c;
}

/* end download block
changes from 05.09.2016*/

/*start team*/

.wrapTeam {
    min-height: 812px;
    background-color: #fff;
}

.team {
    padding-top:100px;
    margin:0 auto;
    min-height: 712px;
    width: 1181px;
}

.newTeam {
    padding-top: 340px;
    width: 265px;
    min-height: 428px;
    float: left;
    margin-right: 30px;
    position: relative;
    text-align: left;
}

.newTeam img {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}

.newTeam h3 {
    font:22px 'Raleway', sans-serif;
    color: #2d3033;
    margin-bottom: 7px;
}

.newTeam h4 {
    font:13px 'Raleway', sans-serif;
    color:#e84545;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.newTeam article {
    font:14px 'Raleway', sans-serif;
    color: #6c7279;
    margin-bottom: 29px;
    line-height: 22px;
}
.newTeam figure {

}
.newTeam figure figcaption {
    position: absolute;
    top:282px;
    left: 0px;
}

.teamSocial {
    height: 38px;
}


.teamSocial a[href*=facebook] {
    display: block;
    width: 36px;
    height: 36px;
    background-position: center;
    background-image: url(../images/tSocial1.png);
    background-repeat: no-repeat;
    outline: 1px solid #c6cacc;
    margin-right: 5px;
    float: left;
}

.teamSocial a[href*=twitter] {
    display: block;
    width: 36px;
    height: 36px;
    background-position: center;
    background-image: url(../images/tSocial2.png);
    background-repeat: no-repeat;
    outline: 1px solid #c6cacc;
    margin-right: 5px;
    float: left;
}

.teamSocial a[href*=in] {
    display: block;
    width: 36px;
    height: 36px;
    background-position: center;
    background-image: url(../images/tSocial3.png);
    background-repeat: no-repeat;
    outline: 1px solid #c6cacc;
    margin-right: 5px;
    float: left;
}

.teamSocial a:hover {
    outline: 1px solid #9ea5a9;
}
/* end team */

/*start footer*/
 footer {
    height: 343px;
    width: 1181px;
    position: relative;
    text-align: center;
 }

.location {
    width: 180px;
    height: 100px;
    position: absolute;
    top:64px;
    left: 200px;
}

.about {
    width: 340px;
    height: 135px;
    position: absolute;
    top:64px;
    left: 890px;
}

.love {
    width: 180px;
    height: 90px;
    position: absolute;
    top:64px;
    left: 550px;
}
 .h4_footer {
    width: 90%;
    text-align: center;
    font:bold 14px 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
 }

 .p_footer {
    font:14px 'Raleway', sans-serif;
    color: #afb0bc;
 }



 #social_icon1, #social_icon2,  #social_icon3  {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/fSocial1.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    border: 2px solid #fff;
 }
  #social_icon1:hover {
    background-color: #3B5998;
    border: 2px solid #3B5998;
  }

 #social_icon2 {
    background-image: url(../images/fSocial2.png);
 }

#social_icon2:hover {
    background-color: #1D9EF2;
    border: 2px solid #1D9EF2;
  }

 #social_icon3 {
    background-image: url(../images/fSocial3.png);
 }

#social_icon3:hover {
    background-color: #1360A8;
    border: 2px solid #1360A8;
  }

  #social_icon3 span:hover {
    background-color: #02639A;
  }

.social span {
    margin-left: 10px;
}


.copyRight {
    width: 340px;
    height: 46px;
    position: absolute;
    bottom:17px;
    left: 455px;
    font:14px 'Raleway', sans-serif;
    color: #808080;
    text-align: center;
    background-image: url(../images/love.png);
    background-repeat: no-repeat;
    background-position: 130px 21px;
}

.copyRight span {
color:#ffffff;
margin-left: 18px;
}

/*end footer*/


